In [3]:
import pandas as pd
df = pd.read_csv('statements.csv', encoding='utf8')

In [14]:
statements = df['statements'].values

In [15]:
statements[:5]

array(['Fashion week in NYC is in February ',
       'Roosevelt Field  site did Lindbergh begin his flight from in 1927',
       'Saudi Arabia  country is the holy city of Mecca located in',
       'the sun is  5778.0 hot',
       'banana  flavor filling did the original Twinkies have'],
      dtype=object)

# test spacy Entity Recogmition

In [16]:
import spacy
from nltk import Tree
en_nlp = spacy.load('en_core_web_lg')

In [17]:
def get_spacy_entities(text, count=3):
    nlp_doc = en_nlp(text)
    return[ent.text for ent in nlp_doc.ents[:count]]

get_spacy_entities(statements[1])

['Roosevelt Field', 'Lindbergh', '1927']

# Test Wikification

In [18]:
def get_wiki_entities(text, count=3):
    import tagme
    from operator import itemgetter
    tagme.GCUBE_TOKEN = "c294fe63-88fa-40e1-b1d4-34b70c887b29-843339462"
    newlist = [{'score': item.score,'mention':item.mention,'entity_title':item.entity_title} for item in tagme.annotate(text).get_annotations(0.1)]
    newlist = sorted(newlist, key=itemgetter('score'), reverse=True)
    return [{'mention':item['mention'],'entity_title':item['entity_title']} for item in newlist[:count]]

get_wiki_entities(statements[1])

[{'entity_title': 'Roosevelt Field (airport)', 'mention': 'Roosevelt Field'},
 {'entity_title': 'Charles Lindbergh', 'mention': 'Lindbergh'},
 {'entity_title': 'Flight International', 'mention': 'flight'}]

# semantic role labeling
allennlp # http://demo.allennlp.org/semantic-role-labeling, sorces doesnot work, need to to try docker
nlpnet #only portoguese
senna = python(pntl == practnlptools) cant use becouse of dependensies of senna and standford parser

# Rake keyword extraction

In [20]:
from rake_nltk import Rake

def get_rake_entities(text, count=3):
    r = Rake() 
    r.extract_keywords_from_text(text)
    return r.get_ranked_phrases()[:count] # To get keyword phrases ranked highest to lowest.
    
get_rake_entities(statements[1])

['roosevelt field site', 'lindbergh begin', 'flight']

# Plan

# fact checker flow
1  get min 2 entities
2  get sinonimus by word2wec and victionary merge them
3  check dbpedia connecton for the pair
4  check wikipedia
5  check cosines similarty

# Search in Wiipedia

In [21]:
def get_merget_entities(text):
    entities = get_wiki_entities(text)
    if len(entities)<2:
        spacy_entities =  get_spacy_entities(text)
        for spacy_entity in spacy_entities:
            for entity in entities:
                if (spacy_entity not in entity['mention']) and (entity['mention'] not in spacy_entity):
                    entities.append({'mention':spacy_entity,'entity_title':spacy_entity})
    return entities

In [35]:
import wikipedia
wikipedia.set_lang("en")
# get data from wikipedia https://pypi.python.org/pypi/wikipedia
def get_wiki_content(entity, pages_count):
    fined_page_names = wikipedia.search(entity)
    if len(fined_page_names)>0:
        try:
            content=[]
            for page_name in fined_page_names[:pages_count]:
                wiki_page = wikipedia.page(page_name)
                content.append(wiki_page.content)
            return '. '.join(content)
        except:
            return ''
    else:
        return ''
    
get_wiki_content('Roosevelt Field (airport)',2)

'Roosevelt Field is a former airport, located 2.3 miles (3.7 km) east-southeast of Mineola, Long Island, New York. Originally called the Hempstead Plains Aerodrome, or sometimes Hempstead Plains field or the Garden City Aerodrome, it was a training field (Hazelhurst Field) for the Air Service, United States Army during World War I.\nIn 1919, it was renamed in honor of President Theodore Roosevelt\'s son, Quentin, who was killed in air combat during World War I.\nRoosevelt Field was the takeoff point for many historic flights in the early history of aviation, including Charles Lindbergh\'s 1927 solo transatlantic flight. It was also used by other pioneering aviators, including Amelia Earhart and Wiley Post.\n\n\n== History ==\nThe Hempstead Plains Aerodrome originally encompassed 900 to 1,000 acres (405 ha) east of and abutting Clinton Road, south of and adjacent to Old Country Road, and west of Merrick Avenue. A bluff 15 feet in elevation divided the plain into two large fields. The U.S. Army Signal Corps established the Signal Corps Aviation Station, Mineola on the west field in July 1916, as a pilot training school for members of the National Guard.\n\n\n=== World War I ===\nWhen the U.S. entered the war in April 1917, the entire field was taken over and renamed Hazelhurst Field after Leighton Wilson Hazelhurst, Jr. Hazelhurst was a native of Georgia and was a graduate of the United States Military Academy. He reported for aeronautical duty at the Signal Corps Aviation School, Augusta, Georgia, on 2 March 1912. On 11 June 1912, while making a flight at College Park, Maryland as a passenger in an airplane undergoing acceptance tests, the plane crashed to the ground and both the pilot and Lt. Hazelhurst were both killed.\nAn adjacent tract of land south of the Hempstead branch line of the Long Island Rail Road was acquired for expansion, becoming Camp Mills along Clinton Road and Hazelhurst Aviation Field No. 2 to the east, part of the massive Air Service Aviation Concentration Center. Hazelhurst Field No. 2 was renamed Mitchel Field on July 16, 1918, to commemorate John Purroy Mitchel, the former mayor of New York killed in a flying accident on July 6 while training with the U.S. Air Service in Louisiana. On September 24, 1918, the Army dedicated the eastern portion of Hazelhurst Field No. 1 as Roosevelt Field.\nAir Service units that assigned to Hazelhurst Field were:\nPermanently assigned\n46th Aero Squadron (II), July 1918-January 1919\n52d Aero Squadron (II), July-November 1918\nAssigned to Aviation Concentration Center for deployment to AEF\n\nReturning to United States from Europe\n141st Aero Squadron, July 1919 (Demobilization)\n497th Aero Squadron, April 1919 (Demobilization)\n505th Aero Squadron, January 1919 (Demobilization)\nAfter the armistice, the Air Service authorized several companies to operate from the fields but maintained control until July 1, 1920, at which time the government sold its buildings and improvements and relinquished control of the property.\n\n\n=== Civil use ===\nOnce in civilian hands, the owners sold portions along the southern edge of the field and split the remainder of the property into two separate areas. Curtiss Field, a 300-acre airport on the original site of Hazelhurst Field, occupied half of the western portion along Clinton Road. Roosevelt Field occupied the remainder, consisting of seven hangars and a large parking ramp adjacent to Curtiss Field, and an east-west packed clay runway 5000 feet in length on the bluff. The area between Curtiss Field and the Long Island Motor Parkway, which ran north of and parallel to Stewart Avenue, became the Old Westbury Golf Course, while the area to the east of the golf course was used as the Meadow Brook Polo Field, both areas are now completely developed.\nIn pursuit of the Orteig Prize, René Fonck attempted to take off the Sikorsky S-35 from Roosevelt Field\'s long runway on September 21, 1926, but the aircraft was severely overweight and stressed the auxiliary landing gear mounted to help support the load, losing a wheel. Unable to gain lift speed, the plane cartwheeled off the end of the bluff and burst into flames, killing two of its crew. The following May, operating from a hangar at Curtiss Field, Charles Lindbergh used the Roosevelt Field runway for the takeoff of the Spirit of St. Louis on his flight to Paris.\nBoth fields were bought in 1929 by Roosevelt Field, Inc. The western field, called "Unit 2", and the runway atop the bluff, called "Unit 1", were connected by a broad earthen taxi ramp and the consolidated property was named Roosevelt Field. Unit 1 was sold in 1936 and became the Roosevelt Raceway, while Unit 2 continued to operate as an aviation center under the name Roosevelt Field. At its peak in the 1930s, it was America\'s busiest civilian airfield.\n\n\n=== Closure ===\nRoosevelt Field was used by the Navy and Army during World War II. After the war, Roosevelt Field reverted to operation as a commercial airport until it was acquired by real estate developers in 1950. The field closed on May 31, 1951.\nThe eastern field first became an industrial park but is now largely retail shopping, including the Mall at The Source on the site of the former runway, and townhouses, while the site of the original flying field in 1911–1916 has become a shopping mall.\n\n\n== Fresco ==\nAline Rhonie Hofheimer (1909–1963), painted a 126-foot fresco representing aviation history in Roosevelt Field, Long Island. It has since been relocated to the Vaughn College of Aeronautics and Technology in Queens, NY.\n\n\n== Mall ==\n\nManhattan-based real estate company Webb and Knapp gained a controlling interest in the airfield in 1950 and later built light factories on the former Unit 2. Currently its site is occupied by Roosevelt Field Mall and Garden City Plaza.\n\n\n== See also ==\n\nMitchel Air Force Base\nRepublic Field, nearest active airfield\nList of Training Section Air Service airfields\n\n\n== References ==\n This article incorporates public domain material from the Air Force Historical Research Agency website http://www.afhra.af.mil/.\n\n\n== External links ==\nUNH: 1918 USGS map of Hazelhurst/Roosevelt Field and environs\nAbandoned & Little-Known Airfields: New York, Central Long Island. Roosevelt Field Mall is a shopping mall in East Garden City, Long Island, New York. It is the second-largest full price shopping mall in the state of New York, following Destiny USA in Syracuse, and tenth in the country as measured by gross leasable area at 2,400,000 square feet (220,000 m2). It is owned and managed by Simon Property Group. It is also the most successful mall in the state. The anchors of the 270-store mall are Bloomingdale\'s, JCPenney, Macy\'s, Nordstrom, Dick\'s Sporting Goods, and Neiman Marcus. Previous anchor stores were Gimbels (succeeded by Stern\'s), A&S, and Alexander\'s (succeeded by Bloomingdale\'s). The original anchor store was Macy\'s.\n\n\n== Location ==\n\nThe mall is adjacent to the Meadowbrook State Parkway, making it accessible from the Northern State Parkway and Southern State Parkway. It is a major hub of Nassau Inter-County Express, with several bus routes stopping in a terminal area near the southern parking structure.\nIt was constructed on the site of, and named for, Roosevelt Field, an airport and military airfield where Charles Lindbergh began his historic trans-Atlantic flight. At one time, a plaque at the north end of the mall (in the hall that now connects Dick\'s and JCPenney) marked the spot where Lindbergh took off. It was later moved near the Disney Store, but was removed in the mall\'s latest renovation.\n\n\n== History ==\nAs an airfield, the land served as the take-off site of many famous aviators such as Amelia Earhart and Wiley Post. Charles Lindbergh\'s solo translatlantic flight took off from Roosevelt Field in 1927. The field was originally named Hazelhurst Field and was renamed in honor of Theodore Roosevelt\'s son Quentin, who died in World War I. After the airfield was closed in 1951, the site was developed by New York\'s William Zeckendorf and designed by I. M. Pei.\nGround was broken on the $35 million project in April 1955. The center opened with a single level and was an open-air center. It included F.W. Woolworth 5 & 10 store, Walgreen Drug, Food Fair supermarket, Buster Brown Shoes, a public auditorium, movie theater, and an outdoor ice rink. The original anchor of the mall was a 2-level 343,000 ft² (31,900 m²) Macy\'s which opened on August 22, 1956.\nIn 1962, a 250,000 ft² (2,320 m²) Gimbels store opened (today, the structure houses Dick\'s Sporting Goods and Bloomingdale\'s Furniture). With the addition, the complex held over 1,000,000 ft² (92,900 m²). A major extension was completed in 1964. Macy\'s had an 85,000 ft² (7,900 m²) third level added. In 1968, The Century Roosevelt Cinema began operation. At that time, the mall was enclosed.\nIn 1972, a second major expansion was completed which added a 3-level, 260,000 ft² (24,200 m²) J.C. Penney, which was later completely renovated in 2010, and a 2-level 31,400 ft² (2,900 m²) Alexander\'s. Le Petit Mall, a Tudor-style expansion was built in 1974 that architecturally reinforced the novelty of shopping indoors.\nAn upper level of stores and food court was established in 1993 after a major renovation which started in 1991. When Alexander\'s went bankrupt in 1992, Abraham & Straus gutted the building and extensively renovated it, opening in 1992. The Abraham & Straus location at Roosevelt Field only lasted until 1995, when the chain became defunct. The store was slightly renovated, and re-opened as a Bloomingdale\'s in 1995. The Bloomingdale\'s store at Roosevelt Field had a major renovation, which was finished by the summer of 2009. The Gimbels anchor was a Stern\'s between 1987 and 2001.\nAfter Stern\'s closed, the spot was taken over by Galyan\'s, which opened in 2003 (later bought out by Dick\'s Sporting Goods in 2004). Dick\'s Sporting Goods occupied the eastern section and Bloomingdale\'s Furniture Gallery, which opened in 2004 and occupies the western half. A new, 3-story Nordstrom and a 2-story wing leading to the new Nordstrom opened in August 1997. Simon Property Group took ownership of the mall when it acquired Corporate Property Investors in 1998.\nIn March 2012, it was announced that a new 100,000-square-foot building anchored by luxury department store Neiman Marcus would be added to Roosevelt Field. Opened on February 19, 2016, this expansion created room for even more shops leading up to the luxury department store and was accompanied by a new parking structure. Though not part of the mall, a Macy\'s Furniture Gallery is located across the street in Carle Place, NY.\n\n\n== References ==\n\n\n== External links ==\nRoosevelt Field (Official Site)\nRoosevelt Field'

In [36]:
from nltk.tokenize import sent_tokenize
def text_to_sents(text):
    sents = sent_tokenize(text)
    #lematized_sents =[]
    #for sent in sents:
    #    doc = en_nlp(sent)
    #    lematized_sent=' '.join([token.lemma_ for token in doc])
    #    lematized_sents.append(lematized_sent)
    #return lematized_sents
    return sents
text_to_sents("Roosevelt Field is a former airport, located 2.3 miles (3.7 km) east-southeast of Mineola, Long Island, New York. Originally called the Hempstead Plains Aerodrome, or sometimes Hempstead Plains field or the Garden City Aerodrome, it was a training field (Hazelhurst Field) for the Air Service, United States Army during World War I.\nIn 1919, it was renamed in honor of President Theodore Roosevelt\'s son, Quentin, who was killed in air combat during World War I.\nRoosevelt Field was the takeoff point for many historic flights in the early history of aviation, including Charles Lindbergh\'s 1927 solo transatlantic flight. ")

['Roosevelt Field is a former airport, located 2.3 miles (3.7 km) east-southeast of Mineola, Long Island, New York.',
 'Originally called the Hempstead Plains Aerodrome, or sometimes Hempstead Plains field or the Garden City Aerodrome, it was a training field (Hazelhurst Field) for the Air Service, United States Army during World War I.',
 "In 1919, it was renamed in honor of President Theodore Roosevelt's son, Quentin, who was killed in air combat during World War I.\nRoosevelt Field was the takeoff point for many historic flights in the early history of aviation, including Charles Lindbergh's 1927 solo transatlantic flight."]

In [40]:
def get_comention_score_in_sents(entity, sents):
    counter=0
    for sent in  sents:
        if entity in sent:
            counter=counter+1
    return counter

In [39]:
def check_true(text):
    true_counter=0
    entities = get_merget_entities(text)
    for entity in entities:
        wiki_content = get_wiki_content(entity['entity_title'],1)
        wiki_sents = text_to_sents(wiki_content)
        for entity_2 in entities:
            if entity_2['mention']!=entity['mention']:
                true_counter=true_counter+ get_comention_score_in_sents(entity_2['mention'],wiki_sents)
                
    return true_counter

def check_true_by_original_entity(text):
    true_counter=0
    entities = get_merget_entities(text)
    for entity in entities:
        wiki_content = get_wiki_content(entity['mention'],5)
        wiki_sents = text_to_sents(wiki_content)
        for entity_2 in entities:
            if entity_2['mention']!=entity['mention']:
                true_counter=true_counter+ get_comention_score_in_sents(entity_2['mention'],wiki_sents)
                
    return true_counter

In [25]:
check_true(statements[1])

53

In [26]:
from tqdm import tqdm
coefs = []
for i in tqdm(range(df.shape[0])):
    coefs.append(check_true(statements[i]))

  2%|▏         | 21/867 [02:01<1:21:22,  5.77s/it]/Users/grycshuknazar/anaconda2/envs/env_36/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/grycshuknazar/anaconda2/envs/env_36/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))
100%|██████████| 867/867 [1:20:36<00:00,  5.58s/it]

In [27]:
df['coefs']=coefs

In [ ]:
df.to_csv('data/statements.csv', encoding='utf8', index=False)

# Result by searchink key words in Wiki abstract

In [40]:
df[:10][['statements','coefs']]

                                          statements  coefs
0                Fashion week in NYC is in February       0
1  Roosevelt Field  site did Lindbergh begin his ...     53
2  Saudi Arabia  country is the holy city of Mecc...     36
3                             the sun is  5778.0 hot      0
4  banana  flavor filling did the original Twinki...     14
5      Home on the Range is the state song of Kansas    129
6  Crimean  war is connected with the book `` Cha...     10
7    the first atomic bomb detonated  in New Mexico      45
8                   Europe  continent is Scotland in    261
9  Puerto Rico  island did the U.S. gain after th...    224

In [38]:
correct_answer_count = df[df['coefs']>0].shape[0]/df.shape[0]
correct_answer_count

0.8708189158016147

there is coefs column, numbers in that column means count of entity occurs in abstact text of other entity, without analything dependensy tree
in result we found out 87% of entity was recognized as correct
next step is - use dependensy tree in matching entities inside abstract

# Check reason why other statements was not found

In [42]:
step2_df = df[df['coefs']==0]

In [43]:
step2_df[['statements','coefs']]

                                            statements  coefs
0                  Fashion week in NYC is in February       0
3                               the sun is  5778.0 hot      0
11                Pyrotechnists  make fireworks called      0
15             it get in Death Valley does  56.6°C hot      0
24                                  JFK born  in 1917       0
35   76 s  inch     80 s  inch     are the measurem...      0
61                                a hand is  4 in high      0
70   LuSBE, is the abbreviation for the London stoc...      0
75                  1981  year was the IBM PC invented      0
76    do you have to be to join the U.S. Navy   17 old      0
80                                      1+1 is  2 much      0
89       platinum is the gift for the 20th anniversary      0
96                                the score  in 9 : 0       0
113  chuppot is the name of the canopy at a Jewish ...      0
119         Tong Tong is the name of Ling Ling 's mate      0
120  light travel through space does  671 million m...      0
132                48 is the critical angle of rainbow      0
142         Prairie View A & M University is in Texas       0
148      far is the distance for a free throw   4W6 m       0
166              pieces are there in a dozen   12 many      0
174                the Reichstag burned down  in 1933       0
186  the piano made  in 1700 1698 1 78   century 1993       0
187                   U S.  country was google founded      0
190  United Kingdom  country celebrates Guy Fawkes Day      0
192               the Exxon Valdez Oil spill  in 1989       0
199                                        1913  built      0
204  Hudson  river is under New York 's George Wash...      0
206                                     kiev is in UA       0
211  42  natural number immediately follows 41 and ...      0
216                                     Chemung  NY in      0
..                                                 ...    ...
616                             El Rey  Jr. best known      0
632                 2 x is the first derivative of x^2      0
651                         the U.N. created  in 1945       0
669  all the news that's fit to print is the motto ...      0
691  only one day  mythical Scottish town appears f...      0
701              donkey is the democratic party symbol      0
708  Africa  continent is the world 's largest dess...      0
727           Dead Sea is the lowest point on dry land      0
741              Orthopedic  do you call a bone doctor      0
745                         Lakehurst  New Jersey town      0
753        Georgetown  college did Allen Iverson go to      0
760   stripes are on the American flag   thirteen many      0
766                 Durham  city is Duke University in      0
767      fast can a nuclear submarine travel   46 kph       0
768        clock  gift is proper for a 1st anniversary      0
784  – Ozzy Osbourne  did Ozzy Osbourne bite the he...      0
789   Michigan State  college did Magic Johnson attend      0
794                       Parche  stabbed Monica Seles      0
795        the battle of Iwo Jima take place  in 1945       0
806                               D.C. built  in 1982       0
808       Gerald Ford 's birthday is in July 14, 1913       0
809                     barbed wire invented  in 1867       0
811            phenylethylamine  helps with depression      0
813       Georgetown  college did Allen Iverson attend      0
822                 Sunday  day did Pearl Harbor occur      0
826               counties are in California   58 many      0
830  Hill Air Force Base is in about 120 kilometers...      0
839                  stomachs does a cow have   4 many      0
843                1996  year did Nintendo 64 come out      0
866                 U S  country was microsoft founded      0

[112 rows x 2 columns]

Entities searched in sentenses:

In [45]:
get_merget_entities('JFK born in 1917')

[{'entity_title': 'JFK (film)', 'mention': 'JFK'},
 {'entity_title': '1917', 'mention': '1917'}]

In [46]:
#increase retrived pages count in Wikipedia

In [47]:
check_true_by_original_entity('JFK born in 1917')

2

In [55]:
from tqdm import tqdm
coefs = []
for i in tqdm(range(step2_df.shape[0])):
    coefs.append(check_true_by_original_entity(step2_df['statements'].values[i]))
step2_df['coef_2']=coefs

  4%|▍         | 5/112 [00:36<13:07,  7.36s/it]Z:\anaconda\envs\py_36\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file Z:\anaconda\envs\py_36\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))
100%|██████████| 112/112 [18:46<00:00, 10.06s/it]
Z:\anaconda\envs\py_36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [58]:
step2_df[['statements','coefs','coef_2']][step2_df['coef_2']>0]

                                            statements  coefs  coef_2
0                  Fashion week in NYC is in February       0       2
24                                  JFK born  in 1917       0       2
119         Tong Tong is the name of Ling Ling 's mate      0       2
142         Prairie View A & M University is in Texas       0      21
190  United Kingdom  country celebrates Guy Fawkes Day      0       3
192               the Exxon Valdez Oil spill  in 1989       0       6
206                                     kiev is in UA       0       1
211  42  natural number immediately follows 41 and ...      0      34
272            Edwin is Buzz Aldrin 's real first name      0       7
290      jelly bean is Ronald Reagan 's favorite candy      0       2
336  Arlington  cemetery is Thurgood Marshall burie...      0       1
374  the international space stations expected to c...      0       2
394                         Pelicans is South Carolina      0       2
436                 1954 is David Lee Roth 's birthday      0       1
459  colors do you need to color a planar graph   f...      0      16
467                   May  date did the Lusitania sink      0       8
519  60rHZ@a#PV SeH@X~100 beats per minute is the n...      0       1
593           tall is the Washington Monument   169 m       0       2
760   stripes are on the American flag   thirteen many      0       1
808       Gerald Ford 's birthday is in July 14, 1913       0       2
811            phenylethylamine  helps with depression      0       3
822                 Sunday  day did Pearl Harbor occur      0       3
826               counties are in California   58 many      0       7

# Lets try to increase this value by using sparql and query DBPedia

In [60]:
step3_df = step2_df[step2_df['coef_2']==0]
step3_df

,id,type,question,answer,answer_value,statements,coefs,coef_2
3,1992,factoid,How hot is the sun?,"(5,?778|6,?[05]00)\s*K|(5,?505|6,?[50]00).*C|(...",5778.0,the sun is 5778.0 hot,0,0
11,1663,factoid,What are the people who make fireworks called?,Pyrotechnists,Pyrotechnists,Pyrotechnists make fireworks called,0,0
15,2364,factoid,How hot does it get in Death Valley?,\b134\b|56\.7|\b116\b|\b47\b|56\.6\°C,56.6°C,it get in Death Valley does 56.6°C hot,0,0
35,2186,factoid,What are the measurements for a king-size bed?,"76\s*(inch|"").*80\s*(inch|"")",76 s inch 80 s inch,76 s inch 80 s inch are the measurem...,0,0
61,1582,factoid,How high is a hand?,4\s*in(ches)?,4 in,a hand is 4 in high,0,0
70,1667,factoid,What is the abbreviation for the London stock ...,L.?S.?E.?,"LuSBE,","LuSBE, is the abbreviation for the London stoc...",0,0
75,1549,factoid,What year was the IBM PC invented?,1981,1981,1981 year was the IBM PC invented,0,0
76,2333,factoid,How old do you have to be to join the U.S. Navy?,\b17\b,17,do you have to be to join the U.S. Navy 17 old,0,0
80,10064,factoid,how much is 1+1?,\b2\b|two,2,1+1 is 2 much,0,0
89,2360,factoid,What is the gift for the 20th anniversary?,china|platinum,platinum,platinum is the gift for the 20th anniversary,0,0
96,1720,factoid,"When a game of baseball is forfeited, what is ...",9\s*[:-]\s*0,9 : 0,the score in 9 : 0,0,0
113,1726,factoid,What is the name of the canopy at a Jewish wed...,c?hup?pah?|chipe|chuppot,chuppot,chuppot is the name of the canopy at a Jewish ...,0,0
120,2073,factoid,How fast does light travel through space?,"186,?(282|000) miles per second|(299,?792|300,...",671 million miles per hour,light travel through space does 671 million m...,0,0
132,10074,factoid,what is the critical angle of rainbow?,\b48\b,48,48 is the critical angle of rainbow,0,0
148,2003,factoid,How far is the distance for a free throw?,(15|19)\s*f(oo|ee)?t|(4.6|5.8)\s*m,4W6 m,far is the distance for a free throw 4W6 m,0,0
166,10005,factoid,How many pieces are there in a dozen?,\b12\b|twelve,12,pieces are there in a dozen 12 many,0,0
174,1592,factoid,When was the Reichstag burned down?,1933,1933,the Reichstag burned down in 1933,0,0
186,2290,factoid,When was the piano made?,1700|1698|1[78].*century|1993,1700 1698 1 78 century 1993,the piano made in 1700 1698 1 78 century 1993,0,0
187,10066,factoid,in which country was google founded?,\bU(nited|\.)?\s*S(tates|\.)?\b,U S.,U S. country was google founded,0,0
199,1837,factoid,"What year was Ebbets Field, home of Brooklyn D...",191[23],1913,1913 built,0,0
204,2330,factoid,What river is under New York's George Washingt...,Hudson,Hudson,Hudson river is under New York 's George Wash...,0,0
216,1650,factoid,"What county is Elmira, NY in?",Chemung,Chemung,Chemung NY in,0,0
221,2176,factoid,"when was Dante's ""Inferno"" written?",1300s|1308|1321|14th century,1321,Dante 's `` Inferno '' written in 1321,0,0
240,2334,factoid,What did Peter Minuit buy for the equivalent o...,Manhattan,Manhattan,Manhattan 24.00,0,0
262,1759,factoid,"Who wrote ""Fiddler on the Roof?""",Sheldon Harnick,Sheldon Harnick,Sheldon Harnick '',0,0
267,2191,factoid,What city is the gateway arch located in?,St.*?Louis,St Louis,St Louis city is the gateway arch located in,0,0
280,1861,factoid,Where was Bill Gates born?,Seattle|Washington|United States of America,United States of America,Bill Gates born in United States of America,0,0
294,2120,factoid,"What does ""CBS"" (television network) stand for?",Columbia Broadcasting System,Columbia Broadcasting System,Columbia Broadcasting System does stand for,0,0
300,1890,factoid,"Who is the author of the poem ""The Midnight Ri...",Longfellow,Longfellow,Longfellow is '',0,0
302,10065,factoid,how much is 41+1?,\b42\b|fourty-two,42,41+1 is 42 much,0,0
...,...,...,...,...,...,...,...,...
549,1809,factoid,When was the Buckingham Palace built in London...,1703,1703,England in 1703,0,0
552,2306,factoid,How big is the Great Pyramid?,146.5\s*m|481\s*f(oo|ee)?t|138.8\s*m|455\s*f(o...,138p8 m,the Great Pyramid is 138p8 m big,0,0
574,10053,factoid,chemical symbol of ethylene ?,C.*2.*H.*4,C 2 H 4,C 2 H 4 symbol of ethylene,0,0
595,2269,factoid,How long is a quarter in an NBA game?,12.m.*,12 m,a quarter in an NBA game is 12 m long,0,0
615,1591,factoid,What percentage of the population is left handed?,(ten|10)\s*(percent|%),10 percent,10 percent percentage of the population is le...,0,0
616,1879,factoid,By what nickname was musician Ernesto Antonio ...,El Rey|Tito,El Rey,El Rey Jr. best known,0,0
632,10024,factoid,What is the first derivative of x^2?,2\s*.?\s*x,2 x,2 x is the first derivative of x^2,0,0
651,2109,factoid,When was the U.N. created?,1945,1945,the U.N. created in 1945,0,0
669,2058,factoid,"What is the motto of the ""New York Times""?",all the news that's fit to print,all the news that's fit to print,all the news that's fit to print is the motto ...,0,0
691,1399,factoid,What mythical Scottish town appears for one da...,Brigadoon|only one day,only one day,only one day mythical Scottish town appears f...,0,0
701,1401,factoid,What is the democratic party symbol?,donkey,donkey,donkey is the democratic party symbol,0,0
708,2023,factoid,What continent is the world's largest dessert on?,Africa,Africa,Africa continent is the world 's largest dess...,0,0
727,1474,factoid,What is the lowest point on dry land?,Dead Sea,Dead Sea,Dead Sea is the lowest point on dry land,0,0
741,2292,factoid,What do you call a bone doctor?,Orthopedic|Orthopedist|Orthopaedic surgery or ...,Orthopedic,Orthopedic do you call a bone doctor,0,0
745,1455,factoid,The Hindenburg disaster took place in 1937 in ...,Lakehurst,Lakehurst,Lakehurst New Jersey town,0,0
753,2039,factoid,What college did Allen Iverson go to?,Georgetown,Georgetown,Georgetown college did Allen Iverson go to,0,0
766,1996,factoid,What city is Duke University in?,Durham,Durham,Durham city is Duke University in,0,0
767,1937,factoid,How fast can a nuclear submarine travel?,(25|30|33)\s*knots|29\s*(mph|miles per hour)|4...,46 kph,fast can a nuclear submarine travel 46 kph,0,0
768,1814,factoid,What gift is proper for a 1st anniversary?,paper|plastic|clock,clock,clock gift is proper for a 1st anniversary,0,0
784,1925,factoid,What did Ozzy Osbourne bite the head off of?,bat|\– Ozzy Osbourne,– Ozzy Osbourne,– Ozzy Osbourne did Ozzy Osbourne bite the he...,0,0
789,1449,factoid,What college did Magic Johnson attend?,Michigan State,Michigan State,Michigan State college did Magic Johnson attend,0,0
794,1746,factoid,Who stabbed Monica Seles?,Parche|Graf fan|fan of (Steffi )?Graf|Graf,Parche,Parche stabbed Monica Seles,0,0
795,1757,factoid,When did the battle of Iwo Jima take place?,1944|1945,1945,the battle of Iwo Jima take place in 1945,0,0
806,1753,factoid,When was the Vietnam Veterans Memorial in Wash...,1982,1982,D.C. built in 1982,0,0
809,2341,factoid,When was barbed wire invented?,1867,1867,barbed wire invented in 1867,0,0
813,1484,factoid,What college did Allen Iverson attend?,Georgetown,Georgetown,Georgetown college did Allen Iverson attend,0,0
830,1542,factoid,Where is Hill Air Force Base?,"Ogden,?|Utah|about 120 kilometers west of Salt...",about 120 kilometers west of Salt_Lake_City,Hill Air Force Base is in about 120 kilometers...,0,0
839,2035,factoid,How many stomachs does a cow have?,four|\b4\b,4,stomachs does a cow have 4 many,0,0
843,1825,factoid,What year did Nintendo 64 come out?,1996,1996,1996 year did Nintendo 64 come out,0,0
866,10067,factoid,in which country was microsoft founded?,\bU(nited|\.)?\s*S(tates|\.)?\b,U S,U S country was microsoft founded,0,0

In [62]:
import spacy
from nltk import Tree
en_nlp = spacy.load('en_core_web_lg')

In [297]:
def get_root(doc):
    return [token for token in doc if token.dep_=='ROOT']
    
get_root(en_nlp('the sun is 5778.0 hot'))

[is]

In [343]:
def print_doc(doc):
    for token in doc:
        rights=[]
        for i in token.rights:
            rights.append(i)
        print('{7}<-{0}({1})->{8}    dep:{2}, pos:{3}, ent:{4}, orth:{5}, tag_:{6}, rights:{7}'.format(
            token.text,token.head, token.dep_,token.pos_,token.ent_type_, token.orth_, token.tag_,token.left_edge,token.right_edge,rights))

In [ ]:
#spacy preprocesing block

#Merge compaunds together
#def merge_doc(text):

In [311]:
import re
def cleanup_text(text):
    return re.sub(' +',' ',text.strip(' \t\n\r'))

cleanup_text('JFK born in 1917 ')

'JFK born in 1917'

In [415]:
# function helps merge compaund words toggether and manage them as a single item

def merge_nouns(doc):
    viewed_tokens_for_merge=[]
    merge_ranges=[]
    for token in doc:
        if token in viewed_tokens_for_merge:
            continue
        tmp_compaund_token=token
        
        while(tmp_compaund_token.dep_ in ['compound','nummod']):
            viewed_tokens_for_merge.append(token)
            tmp_compaund_token = tmp_compaund_token.head
            
        if token!=tmp_compaund_token:
            merge_ranges.append((token.idx, tmp_compaund_token.idx+tmp_compaund_token.__len__()))
            
    for merge_range in merge_ranges:
        doc.merge(merge_range[0],merge_range[1])
    return doc

def merge_werbs(doc):
    viewed_tokens_for_merge=[]
    merge_ranges=[]
    for token in doc:
        if token in viewed_tokens_for_merge:
            continue
        tmp_compaund_token=token
        
        while (tmp_compaund_token.dep_ in ['auxpass']) and ( (tmp_compaund_token.tag_ in ['VBD'])):
            print(tmp_compaund_token)
            viewed_tokens_for_merge.append(tmp_compaund_token)
            viewed_tokens_for_merge.append(tmp_compaund_token.head)
            tmp_compaund_token = tmp_compaund_token.head
            
        if token!=tmp_compaund_token:
            merge_ranges.append((token.idx, tmp_compaund_token.idx+tmp_compaund_token.__len__()))
            
    for merge_range in merge_ranges:
        doc.merge(merge_range[0],merge_range[1])
    return doc

def merge_NN_with_entities(doc):
    viewed_tokens_for_merge=[]
    merge_ranges=[]
    for token in doc:
        if token in viewed_tokens_for_merge:
            continue
        tmp_compaund_token=token
        
        while (tmp_compaund_token.ent_type_ != '') and ( tmp_compaund_token.dep_ in ['amod']) and ( tmp_compaund_token.head.tag_ in ['NN']) :
            viewed_tokens_for_merge.append(tmp_compaund_token)
            viewed_tokens_for_merge.append(tmp_compaund_token.head)
            tmp_compaund_token = tmp_compaund_token.head
            
        if token!=tmp_compaund_token:
            merge_ranges.append((token.idx, tmp_compaund_token.idx+tmp_compaund_token.__len__()))
            
    for merge_range in merge_ranges:
        doc.merge(merge_range[0],merge_range[1])
    return doc


def get_prprocessed_spacy_doc(text):
    cleaned_text = cleanup_text(text)
    doc = en_nlp(cleaned_text)
    doc = merge_nouns(doc)
    doc = merge_NN_with_entities(doc)
#doc = merge_werbs(doc)
    return doc
    
print_doc(get_prprocessed_spacy_doc('the U.N. created in 1945'))

the<-the(U.N.)->the    dep:det, pos:DET, ent:, orth:the, tag_:DT, rights:the
the<-U.N.(created)->U.N.    dep:nsubj, pos:PROPN, ent:ORG, orth:U.N., tag_:NNP, rights:the
the<-created(created)->1945    dep:ROOT, pos:VERB, ent:, orth:created, tag_:VBN, rights:the
in<-in(created)->1945    dep:prep, pos:ADP, ent:, orth:in, tag_:IN, rights:in
1945<-1945(in)->1945    dep:pobj, pos:NUM, ent:DATE, orth:1945, tag_:CD, rights:1945

In [386]:
def tree_move(token, next_token, handler):
    # endless loop fix fumction
    #print(token, next_token)
    if (token == next_token):
        return None
    return handler(next_token)

In [371]:
def get_identifier(token):
    #print(token,token.tag_,token.right_edge,token.left_edge)
    if token.tag_ in ['VBZ','VB','VBP','VBD']:
        return  tree_move(token,token.left_edge,get_identifier)
    if token.dep_ in ['nsubj']:
        return token
    if token.tag_ in ['NN','NNS','NNP']:
        return token
    if token.tag_ == 'DT':
        return get_identifier(token.head)
    if token.ent_type_=='QUANTITY':
        return token
    else: 
        return None

In [416]:
def IS_case_rule_recursive(token):
    #print('IS_case_rule_recursive:   ', token,token.tag_,token.right_edge,token.left_edge)
    if token.tag_ in ['VBZ','VB','VBP','VBD','VBN','VBG']:
        return  token
    elif (token.tag_ in ['JJ']) and (token.ent_type_==''):
        return  token
    else:
        return tree_move(token,token.right_edge,IS_case_rule_recursive)
        

def get_attribute_IS_case(token):
    #print('get_attribute_IS_case')
    attribute =  tree_move(token,token.right_edge,IS_case_rule_recursive)
    return attribute if attribute != None else token

def get_attribute(token):
    #print(token,token.tag_,token.right_edge,token.left_edge)
    if token.tag_ in ['VBZ','VB','VBP','VBD','VBN','VBG']:
        if token.lower_ in ['is']:
            return get_attribute_IS_case(token)
        return  token
    else:
        return None

In [397]:
def get_value_as_an_attribute_of_root(token):
    for child in token.children:
        if (child.dep_=='attr') and (child.tag_ in ['CD']) and (child.ent_type_!=''):
            return child
    return None
    
def get_value_on_right(token):
    #print(token, token.tag_, token.ent_type_)
    if (token.tag_ in ['NN','NNS', 'CD']) or (token.ent_type_!=''):
        return token
    if token.tag_ in ['JJ','VBN']:
        return tree_move(token,token.left_edge,get_value)
    return None

def get_value(token):
    value = get_value_as_an_attribute_of_root(token)
    if value != None:
        return value
    return get_value_on_right(token.right_edge)

In [417]:
def get_triplets_from_text(text):
    #NN VB value
    #NN (is)attribute_name value
    
    doc = get_prprocessed_spacy_doc(text)
    roots = get_root(doc)
    if len(roots)!=1:
        return (None,None, None)
    else:
        root = roots[0]
    identifier = get_identifier(root.left_edge)
    attribute= get_attribute(root)
    value = get_value(root)
    return identifier, attribute, value

get_triplets_from_text('the U.N. created in 1945')

(U.N., created, 1945)

In [402]:
step2_df['statements'].values[13]

'chuppot is the name of the canopy at a Jewish wedding'

In [419]:
tests=[
    ('the sun is 5778.0 hot',('sun', 'hot', '5778.0')),
    ('Pyrotechnists make fireworks called',('Pyrotechnists', 'make', 'fireworks')),
    ('Fashion week in NYC is in February ',('Fashion week', 'is', 'February')),
    ('JFK born  in 1917 ',('JFK', 'born', '1917')),
    ('76 s  inch     80 s  inch     are the measurements for a king-size bed',('76 s inch', 'are','king-size bed')),
    ('a hand is  4 in high',('hand', 'high', '4')),
    ('LuSBE, is the abbreviation for the London stock exchange',('LuSBE', 'is', 'London stock exchange')),
    ('platinum is the gift for the 20th anniversary',('platinum', 'is', '20th anniversary'),
    ('the U.N. created in 1945',('U.N.', 'created', '1945'))
)
]
def test_runner(tests):
    error_counter=0
    for test in tests:
        identifier, attribute, value=get_triplets_from_text(test[0])
        identifier = identifier.text if identifier!=None else None
        attribute = attribute.text if identifier!=None else None
        value = value.text if identifier!=None else None
        if (identifier, attribute, value)!=test[1]:
            print(test)
            error_counter+=1
    if error_counter==0:
        print('You are my HERO!!!!')

test_runner(tests)

You are my HERO!!!!

# result of extractiong some triplets

In [452]:
identifiers=[]
attributes=[]
values=[]
for statement in step3_df['statements'].values:
    identifier, attribute, value = get_triplets_from_text(statement)
    identifiers.append(identifier)
    attributes.append(attribute)    
    values.append(value)
    
step3_df['identifiers']=identifiers
step3_df['attributes']=attributes
step3_df['values']=values

Z:\anaconda\envs\py_36\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
Z:\anaconda\envs\py_36\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
Z:\anaconda\envs\py_36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [ ]:
step3_df[['statements','identifiers','attributes','values']]

In [437]:
cant_work_with_that = step3_df[step3_df[['identifiers','attributes','values']].isnull().any(axis=1)]
cant_work_with_that[:5][['statements','identifiers','attributes','values']]

,statements,identifiers,attributes,values
15,it get in Death Valley does 56.6°C hot,it,get,None
75,1981 year was the IBM PC invented,1981 year,invented,None
76,do you have to be to join the U.S. Navy 17 old,None,have,None
96,the score in 9 : 0,score,None,0
120,light travel through space does 671 million m...,None,does,None

In [439]:
cant_work_with_that.shape

(52, 11)

In [440]:
need_to_proces_with_rdf_df=  step3_df[~step3_df[['identifiers','attributes','values']].isnull().any(axis=1)]
need_to_proces_with_rdf_df[:5][['statements','identifiers','attributes','values']]

,statements,identifiers,attributes,values
3,the sun is 5778.0 hot,sun,hot,5778.0
11,Pyrotechnists make fireworks called,Pyrotechnists,make,fireworks
35,76 s inch 80 s inch are the measurem...,76 s inch,are,king-size bed
61,a hand is 4 in high,hand,high,4
70,"LuSBE, is the abbreviation for the London stoc...",LuSBE,is,London stock exchange

In [441]:
need_to_proces_with_rdf_df.shape

(37, 11)

# To hard to cover different cases be writing rules, how to handle it? is it right way of extractiong knowladge?

Next step 
hadle in/t/on:                  Fashion week in NYC is in February
post processing rule is -> in:  Fashion week in NYC is in February
text can contains 2 roots - analize how it happend, (posibly need to cleanup some character or spaces)

In [447]:
def check_true_for_triplets_basic_wersion(identifier, attributes,values):    
    wiki_content = get_wiki_content(identifier,5)
    wiki_sents = text_to_sents(wiki_content)        
    return get_comention_score_in_sents(values,wiki_sents)

In [453]:
need_to_proces_with_rdf_df['coef3']=need_to_proces_with_rdf_df.apply(lambda row: check_true_for_triplets_basic_wersion(row['identifiers'].text,row['attributes'].text,row['values'].text), axis=1)

Z:\anaconda\envs\py_36\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file Z:\anaconda\envs\py_36\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))
Z:\anaconda\envs\py_36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [454]:
need_to_proces_with_rdf_df[['statements','identifiers','attributes','values','coef3']]

,statements,identifiers,attributes,values,coef3
3,the sun is 5778.0 hot,sun,hot,5778.0,0
11,Pyrotechnists make fireworks called,Pyrotechnists,make,fireworks,0
35,76 s inch 80 s inch are the measurem...,76 s inch,are,king-size bed,0
61,a hand is 4 in high,hand,high,4,0
70,"LuSBE, is the abbreviation for the London stoc...",LuSBE,is,London stock exchange,0
80,1+1 is 2 much,1,much,2,140
89,platinum is the gift for the 20th anniversary,platinum,is,20th anniversary,0
113,chuppot is the name of the canopy at a Jewish ...,chuppot,is,Jewish wedding,4
132,48 is the critical angle of rainbow,48,is,rainbow,0
166,pieces are there in a dozen 12 many,pieces,are,,295
174,the Reichstag burned down in 1933,Reichstag,burned,1933,0
204,Hudson river is under New York 's George Wash...,Hudson river,is,George Washington bridge,0
280,Bill Gates born in United States of America,Bill Gates,born,America,0
302,41+1 is 42 much,41,much,42,0
314,Mike Tyson is 1.78 tall,Mike Tyson,tall,1.78,0
331,the day is 24 h long,day,long,24 h,0
345,The Mailman is Karl Malone 's nickname,Mailman,is,nickname,1
381,Andromeda galaxy is closest to the milky way,Andromeda galaxy,is,way,16
410,Russia country is the largest in square miles,Russia country,is,miles,1
422,Lon currency is used in Christiania,Lon currency,used,Christiania,0
476,Løn used is in Christiania,Løn,is,Christiania,0
509,they put Mir down in 2001,they,put,2001,0
514,months are in a year twelve many,months,are,,820
517,Sundquist is the governor of Tennessee in 2002,Sundquist,is,2002,1
547,Willis Haviland Carrier make the air condition...,Willis Haviland Carrier,make,1902,3
552,the Great Pyramid is 138p8 m big,Great Pyramid,big,138p8 m,0
595,a quarter in an NBA game is 12 m long,quarter,long,12 m,0
616,El Rey Jr. best known,El Rey Jr.,known,El Rey Jr.,0
651,the U.N. created in 1945,U.N.,created,1945,0
701,donkey is the democratic party symbol,donkey,is,party symbol,0
727,Dead Sea is the lowest point on dry land,Dead Sea,is,land,20
741,Orthopedic do you call a bone doctor,Orthopedic,call,bone doctor,0
768,clock gift is proper for a 1st anniversary,clock gift,is,1st anniversary,0
794,Parche stabbed Monica Seles,Parche,stabbed,Monica Seles,3
795,the battle of Iwo Jima take place in 1945,battle,take,1945,0
830,Hill Air Force Base is in about 120 kilometers...,Hill Air Force Base,is,Salt_Lake_City,0
866,U S country was microsoft founded,U S country,founded,U S country,0

In [ ]:
'Dead Sea is the lowest point on dry land' -> ('Dead Sea','is','land') КЛАС!

In [ ]:
Питання які залишились:
    Як правильно будувати з тексту триплети
    як обєднувати триплети в структури RDF
    як матчити питання-відповідь в RDF просторі

Чи Варто використовувати RDF як Knowladge base, будувати її з 0