# Read data

In [1]:
import pandas as pd
data = pd.read_csv('curated-full.tsv', sep='\t', encoding='utf8', header=None)
data.columns=['id','type','question','answer']
data[:5]

,id,type,question,answer
0,1756,factoid,When is Fashion week in NYC?,Sept?(ember)?|Feb(ruary)?
1,1434,factoid,What site did Lindbergh begin his flight from ...,Long Island|New\s?York|Roosevelt Field
2,1790,factoid,What country is the holy city of Mecca located...,Saudi Arabia
3,1992,factoid,How hot is the sun?,"(5,?778|6,?[05]00)\s*K|(5,?505|6,?[50]00).*C|(..."
4,2128,factoid,What flavor filling did the original Twinkies ...,banana

# CHANGE QUESTION TO YES NO

In [2]:
#some rundom results can be

In [131]:
import rstr
import re

def generate_answer_from_pattern(pattern):
    value = rstr.xeger(pattern)
    value = re.sub(r"\s+", ' ', value)
    #return value
    if len(value)>len(pattern):
        return  re.sub(r"[^\w\s]", ' ', pattern)
    else:
        return value
data['answer_value'] =  data['answer'].apply(generate_answer_from_pattern)

In [132]:
data[['question','answer_value']][:100]

,question,answer_value
0,When is Fashion week in NYC?,February
1,What site did Lindbergh begin his flight from ...,Roosevelt Field
2,What country is the holy city of Mecca located...,Saudi Arabia
3,How hot is the sun?,5778.0
4,What flavor filling did the original Twinkies ...,banana
5,What is the state song of Kansas?,Home on the Range
6,"What war is connected with the book ""Charge of...",Crimean
7,Where was the first atomic bomb detonated?,New Mexico
8,What continent is Scotland in?,Europe
9,What island did the U.S. gain after the Spanis...,Puerto Rico
10,How deep is Crater Lake?,594 m
11,What are the people who make fireworks called?,Pyrotechnists
12,"Who painted ""Sunflowers""?",van Gogh
13,Who played Frodo in Lord of The Rings?,Wood
14,What is the capital of Laos?,Vientiane
15,How hot does it get in Death Valley?,56.6°C
16,What is the southwestern-most tip of England?,Cornwall
17,What is the motto for California?,Eureka
18,How many Great Lakes are there?,five
19,What is the name of the second Beatles album?,Second Album
20,How many bombs were detonated in 2005 in London?,four
21,How many planets are in our solar system?,nine
22,How big is the planet Venus?,3761 miles
23,When did the Klondike gold rush occur?,1898
24,When was JFK born?,1917
25,What city hosted the 1936 Summer Olympics?,Berlin
26,What is Marilyn Monroe's real name?,Norma Jean
27,How many Olympic gold medals did Carl Lewis win?,10
28,What year did Wilt Chamberlain score 100 points?,1962
29,What is the name of the airport in Dallas Ft. ...,Dallas-Fort Worth International Airport
...,...,...
70,What is the abbreviation for the London stock ...,"LuSBE,"
71,When were the Los Angeles riots?,1992
72,What is the Boston Strangler's name?,Albert DeSalvo
73,Which film received the first best picture Aca...,Wings
74,What is the world's second largest island?,New Guinea
75,What year was the IBM PC invented?,1981
76,How old do you have to be to join the U.S. Navy?,17
77,When was Julius Caesar born?,100 BC
78,When did Yankee Stadium first open?,1923
79,What are pennies made of?,zinc
80,how much is 1+1?,2
81,What is capital city of Russia?,Moscow
82,How fast can a cheetah run?,120 km/h
83,How did Harry Chapin die?,car accident
84,How much did the first Barbie cost?,3
85,"What company owns the soft drink brand ""Gatora...",PepsiCo
86,Who won the Oscar for best actor in 1970?,George C$ Scott
87,Who invented the cotton gin?,Whitney
88,When was Maria Theresa born?,1717
89,What is the gift for the 20th anniversary?,platinum
90,What is another name for the North Star?,Polaris
91,how did stalin die?,cerebral hemorrhage
92,How long is the Great Barrier Reef?,2000 km
93,What is the North Korean national anthem?,the national anthem
94,What year did Ellis Island open its doors to i...,1892
95,How did Adolf Hitler die?,Suicide
96,"When a game of baseball is forfeited, what is ...",9 : 0
97,What animal is veal from?,calf
98,How many layers of skin do we have?,three
99,What is the oldest college bowl game?,Rose Bowl

Обставинні питання в англійській мові складаються за двома паттернами:
1. підмет є в питанні
```(питальне слово) + (допоміжне дієслово) + (підмет) + (основне дієслово) ? + (додаток/обставина) ?```
_(Where) (was) (the first atomic bomb) (detonated)? => (the first atomic bomb) (was) (detonated) + відповідь (in New Mexico)_
_(Where) (was) (the first atomic bomb)? => (the first atomic bomb) (was) + відповідь (in New Mexico)_

2. питальне слово заміняє підмет
```(питальне слово) + (основне дієслово) + (додаток/обставина) ?```
_(Who) (discovered) (America)? => відповідь (Columbus) + (discovered) (America)_
_(What) (is) (the state song of Kansas)? => відповідь (Home on the Range) + (is) (the state song of Kansas)_ (edited)
Оці частинки, що я виділила дужками, називаються в NLP чанками (chunks). Ти їх можеш виділити через дерево складників або через простіший інструмент - chunker. Він є в nltk, наприклад.

А далі перестановка з урахуванням кількох моментів:
1. якщо допоміжне дієслово do/did/does, то основне треба перетворити: `did ... happen` => `happened`
2. є розширені питальні слова з which/what/how (what music, which style, how deep), де відповідь буде об’єднуватись з питальним словом (pop music, disco style, 593.0 deep)
3. до питань про час та місце треба добирати прийменники (in 1999, on May 7)
4. у типі 2 можуть бути лише питальні слова who і what

In [133]:
def get_chunks(sent):

    grammar = """Q1: {^<WRB><JJ>*(<VBZ>|<VBD>)*}
                    {^<VB><PRP><WRB>}
                Q2: {<WP><VBZ>*}
                {^<NNP>}
                {^<JJ>}
                {<WDT>}
                Q_symbol: {<.>*}
               S2: {<.*>+}
               }<Q1|Q2|Q_symbol>+{
               """
    chunkParser = nltk.RegexpParser(grammar)


    tagged = nltk.pos_tag(nltk.word_tokenize(sent))
    tree = chunkParser.parse(tagged)
    return tree

def print_tree(tree):    
    for subtree in tree.subtrees():
        if subtree.label() in ["Q1","Q2",'Q_symbol','S2']: 
            print(subtree.label()+str(subtree.leaves()))

In [134]:
import nltk
from nltk import chunk, tag, tokenize

for sent in data['question'].values[[3,15,18,21,23,109,242,673]]:
    tokens = tokenize.word_tokenize(sent)
    tagged_sent = tag.pos_tag(tokens)
    print(tagged_sent)
    print_tree(get_chunks(sent))
    print('-----------------')
#tree.draw()

[('How', 'WRB'), ('hot', 'JJ'), ('is', 'VBZ'), ('the', 'DT'), ('sun', 'NN'), ('?', '.')]
Q1[('How', 'WRB'), ('hot', 'JJ'), ('is', 'VBZ')]
S2[('the', 'DT'), ('sun', 'NN')]
Q_symbol[('?', '.')]
-----------------
[('How', 'WRB'), ('hot', 'JJ'), ('does', 'VBZ'), ('it', 'PRP'), ('get', 'VB'), ('in', 'IN'), ('Death', 'NNP'), ('Valley', 'NNP'), ('?', '.')]
Q1[('How', 'WRB'), ('hot', 'JJ'), ('does', 'VBZ')]
S2[('it', 'PRP'), ('get', 'VB'), ('in', 'IN'), ('Death', 'NNP'), ('Valley', 'NNP')]
Q_symbol[('?', '.')]
-----------------
[('How', 'WRB'), ('many', 'JJ'), ('Great', 'NNP'), ('Lakes', 'NNP'), ('are', 'VBP'), ('there', 'RB'), ('?', '.')]
Q1[('How', 'WRB'), ('many', 'JJ')]
S2[('Great', 'NNP'), ('Lakes', 'NNP'), ('are', 'VBP'), ('there', 'RB')]
Q_symbol[('?', '.')]
-----------------
[('How', 'WRB'), ('many', 'JJ'), ('planets', 'NNS'), ('are', 'VBP'), ('in', 'IN'), ('our', 'PRP$'), ('solar', 'NN'), ('system', 'NN'), ('?', '.')]
Q1[('How', 'WRB'), ('many', 'JJ')]
S2[('planets', 'NNS'), ('are', 'VBP'), ('in', 'IN'), ('our', 'PRP$'), ('solar', 'NN'), ('system', 'NN')]
Q_symbol[('?', '.')]
-----------------
[('When', 'WRB'), ('did', 'VBD'), ('the', 'DT'), ('Klondike', 'NNP'), ('gold', 'NN'), ('rush', 'NN'), ('occur', 'NN'), ('?', '.')]
Q1[('When', 'WRB'), ('did', 'VBD')]
S2[('the', 'DT'), ('Klondike', 'NNP'), ('gold', 'NN'), ('rush', 'NN'), ('occur', 'NN')]
Q_symbol[('?', '.')]
-----------------
[('In', 'IN'), ('which', 'WDT'), ('city', 'NN'), ('would', 'MD'), ('you', 'PRP'), ('find', 'VB'), ('the', 'DT'), ('Louvre', 'NNP'), ('?', '.')]
S2[('In', 'IN')]
Q2[('which', 'WDT')]
S2[('city', 'NN'), ('would', 'MD'), ('you', 'PRP'), ('find', 'VB'), ('the', 'DT'), ('Louvre', 'NNP')]
Q_symbol[('?', '.')]
-----------------
[('Which', 'JJ'), ('disciple', 'VBZ'), ('received', 'VBD'), ('30', 'CD'), ('pieces', 'NNS'), ('of', 'IN'), ('silver', 'NN'), ('for', 'IN'), ('betraying', 'VBG'), ('Jesus', 'NNP'), ('?', '.')]
Q2[('Which', 'JJ')]
S2[('disciple', 'VBZ'), ('received', 'VBD'), ('30', 'CD'), ('pieces', 'NNS'), ('of', 'IN'), ('silver', 'NN'), ('for', 'IN'), ('betraying', 'VBG'), ('Jesus', 'NNP')]
Q_symbol[('?', '.')]
-----------------
[('Tell', 'VB'), ('me', 'PRP'), ('where', 'WRB'), ('the', 'DT'), ('DuPont', 'NNP'), ('company', 'NN'), ('is', 'VBZ'), ('located', 'VBN'), ('.', '.')]
Q1[('Tell', 'VB'), ('me', 'PRP'), ('where', 'WRB')]
S2[('the', 'DT'), ('DuPont', 'NNP'), ('company', 'NN'), ('is', 'VBZ'), ('located', 'VBN')]
Q_symbol[('.', '.')]
-----------------

In [135]:
def translate_Q1(data, answer):
    question_chunks = data['Q1']
    vb=''
    for item in  question_chunks:        
        if item[1]=='VBZ':
            vb=item[0]
        
    cc = ''
    if question_chunks[0][0].lower() in ['where', 'when']:
        cc = 'in'
        
    end = ''
    for item in  question_chunks:        
        if item[1]=='JJ':
            end=item[0]
    
    sent = ' '.join(pair[0] for pair in data['S2'])
    
    return  ' '.join([sent,vb,cc,answer,end])

def translate_Q2(data, answer):
    question_chunks = data['Q2']
    vb=''
    if len(question_chunks)==2:
        vb=question_chunks[1][0]
  
    sent = ' '.join(pair[0] for pair in data['S2'])
    return  ' '.join([answer, vb,sent])

def get_statement_sent(question, answer):
    tree = get_chunks(question)
    data ={}
    for subtree in tree.subtrees():
        data[subtree.label()] = subtree.leaves()
    if 'Q1' in data:
        return translate_Q1(data, answer)
    else:
        return translate_Q2(data, answer)
    
get_statement_sent('When is Fashion week in NYC?','February')

'Fashion week in NYC is in February '

In [136]:
data[:5]

,id,type,question,answer,answer_value,statements
0,1756,factoid,When is Fashion week in NYC?,Sept?(ember)?|Feb(ruary)?,February,Fashion week in NYC is in February
1,1434,factoid,What site did Lindbergh begin his flight from ...,Long Island|New\s?York|Roosevelt Field,Roosevelt Field,Roosevelt Field site did Lindbergh begin his ...
2,1790,factoid,What country is the holy city of Mecca located...,Saudi Arabia,Saudi Arabia,Saudi Arabia country is the holy city of Mecc...
3,1992,factoid,How hot is the sun?,"(5,?778|6,?[05]00)\s*K|(5,?505|6,?[50]00).*C|(...",5778.0,the sun is 5505!/K Sm4x= C hot
4,2128,factoid,What flavor filling did the original Twinkies ...,banana,banana,banana flavor filling did the original Twinki...

In [137]:
data['statements'] = data[['question','answer_value']].apply(lambda row: get_statement_sent(row['question'],row['answer_value']),axis=1)

In [138]:
data[['question','statements'] ]

,question,statements
0,When is Fashion week in NYC?,Fashion week in NYC is in February
1,What site did Lindbergh begin his flight from ...,Roosevelt Field site did Lindbergh begin his ...
2,What country is the holy city of Mecca located...,Saudi Arabia country is the holy city of Mecc...
3,How hot is the sun?,the sun is 5778.0 hot
4,What flavor filling did the original Twinkies ...,banana flavor filling did the original Twinki...
5,What is the state song of Kansas?,Home on the Range is the state song of Kansas
6,"What war is connected with the book ""Charge of...",Crimean war is connected with the book `` Cha...
7,Where was the first atomic bomb detonated?,the first atomic bomb detonated in New Mexico
8,What continent is Scotland in?,Europe continent is Scotland in
9,What island did the U.S. gain after the Spanis...,Puerto Rico island did the U.S. gain after th...
10,How deep is Crater Lake?,Crater Lake is 594 m deep
11,What are the people who make fireworks called?,Pyrotechnists make fireworks called
12,"Who painted ""Sunflowers""?",van Gogh painted `` Sunflowers ''
13,Who played Frodo in Lord of The Rings?,Wood played Frodo in Lord of The Rings
14,What is the capital of Laos?,Vientiane is the capital of Laos
15,How hot does it get in Death Valley?,it get in Death Valley does 56.6°C hot
16,What is the southwestern-most tip of England?,Cornwall is the southwestern-most tip of England
17,What is the motto for California?,Eureka is the motto for California
18,How many Great Lakes are there?,Great Lakes are there five many
19,What is the name of the second Beatles album?,Second Album is the name of the second Beatles...
20,How many bombs were detonated in 2005 in London?,bombs were detonated in 2005 in London four ...
21,How many planets are in our solar system?,planets are in our solar system nine many
22,How big is the planet Venus?,the planet Venus is 3761 miles big
23,When did the Klondike gold rush occur?,the Klondike gold rush occur in 1898
24,When was JFK born?,JFK born in 1917
25,What city hosted the 1936 Summer Olympics?,Berlin city hosted the 1936 Summer Olympics
26,What is Marilyn Monroe's real name?,Norma Jean is Marilyn Monroe 's real name
27,How many Olympic gold medals did Carl Lewis win?,Olympic gold medals did Carl Lewis win 10 many
28,What year did Wilt Chamberlain score 100 points?,1962 year did Wilt Chamberlain score 100 points
29,What is the name of the airport in Dallas Ft. ...,Dallas-Fort Worth International Airport is the...
...,...,...
837,Who succeeded Ferdinand Marcos?,Corazon Aquino succeeded Ferdinand Marcos
838,How far is it from the pitcher's mound to home...,far is it from the pitcher 's mound to home pl...
839,How many stomachs does a cow have?,stomachs does a cow have 4 many
840,What dress size was Marilyn Monroe?,8 dress size was Marilyn Monroe
841,What year did California become a territory?,1848 year did California become a territory
842,What class of drug is Xanax?,Benzodiazepine class of drug is Xanax
843,What year did Nintendo 64 come out?,1996 year did Nintendo 64 come out
844,What year did Marco Polo travel to Asia?,1271 year did Marco Polo travel to Asia
845,What is Canada's most populous city?,Toronto is Canada 's most populous city
846,What country was the Battle of Verdun fought in?,The Battle of Verdun 1916. country was the Ba...
847,What president declared Mothers' Day?,Wilson president declared Mothers ' Day
848,Who was the only golfer to win the U.S. and Br...,Bobby Jones was the only golfer to win the U....
849,Where was President Lincoln buried?,President Lincoln buried in Illinois
850,"Where was the movie ""Somewhere in Time"" filmed?",the movie `` Somewhere in Time '' filmed in G...
851,What is the name of the longest running soap o...,Coronation Street is the name of the longest r...
852,What does an English stone equal?,14 pound does an English stone equal
853,What is the currency of Denmark?,kroner is the currency of Denmark
854,When was Sputnik launched?,Sputnik launched in 1957
855,What percent of the U.S. is African American?,12.2 % percent of the U.S. is African American
856,When was the Red Cross founded?,the Red Cross founded in 1859
857,What country was Catherine the Great from?,Prussia country was Catherine the Great from
858,What cathedral is in Claude Monet's paintings?,Rouen cathedral is in Claude Monet 's paintings
859,who received the Nobel Prize for Physiology an...,Gurdon Yamanaka 2 received the Nobel P...
860,When was Adolf Hitler born?,Adolf Hitler born in 20 April
861,What is the length of Churchill Downs racetrack?,seven furlongs 1 mile 2 k ilo m eters is ...
862,What country does Greenland belong to?,Denmark country does Greenland belong to
863,Where is Anne Frank's diary?,Anne Frank 's diary is in Amsterdam
864,When did Alexandra Graham Bell invent the tele...,Alexandra Graham Bell invent the telephone in...
865,how many lines per page are in Gutenberg bible?,lines per page are in Gutenberg bible 42 many
866,in which country was microsoft founded?,U S country was microsoft founded

In [139]:
data.to_csv('statements.csv', index=False, encoding='utf8')